@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
    var antiforgery = Html.AntiForgeryToken();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/home/home-index.css">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.3.0/uicons-bold-straight/css/uicons-bold-straight.css'>
</head>
<body>
@antiforgery
<content>
    <div class="left-content">
        <div class="my-decks">
            <div class="label-deck">
                <h4>Çalışma setleriniz</h4>
            </div>

            <div class="deck-container">
                <button type="button" class="card-button" id="previous-button" onclick="scrollDecks('.deck-list', 'previous')">
                    <span class="button-text">
                        <i class="fi fi-bs-angle-up"></i>
                    </span>
                </button>

                <div class="deck-list">
                    @foreach (var deck in Model.UserDecks)
                    {
                        <button type="button" class="deck-card-button" onclick="navigateToDeck('@deck.Id')">
                            <div class="deck-card">
                                <div class="deck-card-header">
                                    <p>@deck.Name</p>
                                </div>
                                <div class="deck-card-body">
                                    <div class="deck-card-body-left">
                                        <span>@deck.CardCount Kart</span>
                                    </div>
                                    <div class="deck-card-body-right"></div>
                                </div>
                            </div>
                        </button>
                    }
                </div>

                <button type="button" class="card-button" id="next-button" onclick="scrollDecks('.deck-list', 'next')">
                    <span class="button-text">
                        <i class="fi fi-bs-angle-down"></i>
                    </span>
                </button>
            </div>
        </div>

        <div class="others-deck">

            <div class="label-deck">
                <h4>Diğer kullanıcıların setleri</h4>
            </div>

            <div class="deck-container">
                <button type="button" class="card-button" id="previous-button" onclick="scrollDecks('.deck-list-other', 'previous')">
                    <span class="button-text">
                        <i class="fi fi-bs-angle-up"></i>
                    </span>
                </button>

                <div class="deck-list-other">
                    @foreach (var deck in Model.RandomUserDecks)
                    {
                        <button type="button" class="deck-card-button" onclick="navigateToDeck('@deck.Id', true)">
                            <div class="deck-card">
                                <div class="deck-card-header">
                                    @deck.Name
                                    <p>
                                </div>
                                <div class="deck-card-body">
                                    <div class="deck-card-body-left">
                                        <span>@deck.CardCount Kart</span>
                                    </div>
                                    <div class="deck-card-body-right"></div>
                                </div>
                            </div>
                        </button>
                    }
                </div>

                <button type="button" class="card-button" id="next-button" onclick="scrollDecks('.deck-list-other', 'next')">
                    <span class="button-text">
                        <i class="fi fi-bs-angle-down"></i>
                    </span>
                </button>
            </div>

        </div>
    </div>
    <div class="middle-content">
        <div class="calendar">
            <div class="calendar-header">
                <button id="prevMonthBtn" class="nav-btn">←</button>
                <span class="month-year" id="monthYear"></span>
                <span class="streak">
                    <img class="goal-img" src="~/images/goal2.png" alt="goal_image"/>
                    <span id="streakCount">0</span>
                </span>
                <button id="nextMonthBtn" class="nav-btn">→</button>
            </div>

            <div class="calendar-body">
                <div class="weekdays">
                    <div>S</div>
                    <div>M</div>
                    <div>T</div>
                    <div>W</div>
                    <div>T</div>
                    <div>F</div>
                    <div>S</div>
                </div>
                <div class="days" id="calendarDays"></div>
            </div>
        </div>

    </div>
    <div class="right-content"></div>
</content>
<script src="@Url.Content("~/js/home/home-index.js")"></script>
</body>
</html>