@{
    ViewData["Title"] = "Profile";
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/home/profile.css">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-straight/css/uicons-solid-straight.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-rounded/css/uicons-solid-rounded.css'>
</head>
<body>
<div class="container">
    <div class="profile-card">
        <div class="profile-header">
            <h2>Profile</h2>
        </div>
        <div class="profile-photo-container">
            <div class="profile-photo-border">
                <div class="profile-photo-wrapper">
                    <img
                        class="profile-photo"
                        alt="Profile Photo"
                        src="@(string.IsNullOrEmpty(Model.ProfilePhotoUrl) ? "/images/default-avatar.png" : Model.ProfilePhotoUrl)"/>
                </div>
            </div>
        </div>
        <div class="profile-info">
            <span class="profile-info-label">Username:</span>
            <span class="profile-info-value">@Model.Username</span>
            <span class="profile-info-label">Email:</span>
            <span class="profile-info-value">@Model.Email</span>
            <span class="profile-info-label">Password:</span>
            <span class="profile-info-value">
                <button type="button" class="btn btn-change-password" onclick="changePassword()">Change</button>
            </span>
            <span class="profile-info-label">Birthdate:</span>
            <span class="profile-info-value">@Model.Birthdate</span>
        </div>
        <div class="button-group">
            <button type="button" class="btn btn-edit" onclick="editProfile()">Edit Profile</button>
            <form method="post" action="/Auth/Logout">
                <button type="submit" class="btn btn-logout">Log out</button>
                <input name="__RequestVerificationToken" type="hidden" value="CfDJ8Mus72bITedKo-_IiK2aIQzBt4pivmu2pvBdIUF5VwCxRgUC09TZNd6J_lLPE0a6hw6XKvRIokrbQbPbc2CSrKdQ9KAshlZzZfLkDBaYOyQk4TddsgxDygf7ixYshPMxTTX6UqPyv9DmKJd1gNSmiYl0CJXOp9pgKRNaj_EzfBPxTV8AS2-P101QrqFFUb_lgA">
            </form>
        </div>
    </div>
</div>
<script>
    function editProfile() {
        window.location.href = '@Url.Action("EditProfile", "Home")';
    }

    function changePassword() {
        window.location.href = '@Url.Action("ChangePassword", "Home")';
    }
</script>
</body>
</html>